body {
  margin: 0;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-width: 400px;
}

input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #525fe1;
  margin-bottom: 8px;
}

button {
  background-color: #525fe1;
  color: white;
  padding: 10px 20px;
  border: 0px solid #525fe1;
  font-weight: bold;
}

#delete-btn {
  background-color: white;
  color: #525fe1;
  border: 1px solid #525fe1;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

li {
  margin-top: 5px;
}

li a {
  color: #525fe1;
}
